.expense-chart__container {
  display: flex;
  align-items: center;
  margin: 2rem;
}

.expense-chart__button {
  width: 10rem;
  height: 2.8rem;
  display: flex;
  margin-left: 20rem;
  border-radius: 10px;
  background-color: #40005d;
  color: white;
  padding: 0 0;
  cursor: pointer;
}

.expense-chart__button p {
  margin-left: 2.5rem;
}
