.expense-filter-container {
  color: white;
  padding: 0rem 1rem;
}

.expense-filter-toggle {
  display: flex;
  border-radius: 14px;
  background-color: #4b4b4b;
  width: 35%;
  align-items: center;
  margin-left: 15rem;
}

.expense-filter-toggle p {
  font-weight: 5rem;
  font-size: 1.25rem;
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: center;
}
.expense-filter-toggle button {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  margin-right: 1.1rem;
  width: 6rem;
  height: 2.5rem;
  border-radius: 12px;
  background-color: #40005d;
  color: white;
  cursor: pointer;
}

.expense-filter-toggle div {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 0.5rem;
}

.expense-filter {
  display: flex;
  width: 95%;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
  margin-left: 2rem;
}

.expense-filter label {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.expense-filter select {
  font: inherit;
  padding: 0.5rem 3rem;
  font-weight: bold;
  border-radius: 8px;
  color: aliceblue;
  background-color: #40005d;
  cursor: pointer;
}
