.header {
  width: 100%;
  height: 5rem;
  background-color: var(--container);
  padding: 0;
}

.header nav {
  height: 100%;
}

.header ul {
  height: 100%;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.header li {
  margin: 0 1rem;
  width: 5rem;
}

.header a {
  color: white;
  text-decoration: none;
}

.header a:hover,
.header a:active,
.header a.active {
  color: #95bcf0;
  padding-bottom: 0.25rem;
  border-bottom: 4px solid #95bcf0;
}

.header button {
  margin-left: 30rem;
  display: inline;
  font-size: 16px;
  color: white;
  background-color: #00004d;
  border-radius: 0.75rem;
  border-width: 0.1rem;
  padding: 0.5rem;
  width: 7rem;
  height: 3rem;
  border-color: black;
  cursor: pointer;
}
